Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Hollywood_Vol3
Content/IndustryPropsPack6
Content/Realistic_Starter_VFX_Pack_Vol2
Content/SoulCity
